# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
# ---
#
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
build-*
cmake-build-*
.idea
.idea/*
Index
Build
Pods
Podfile.lock
*.xcworkspacedata
.version
.vscode
# Build
build
*-build-*
*.user
.DS_Store
DerivedData
Build
xcuserdata
*.xcworkspacedata

.env
canon-c200-canon_log.clut
